<div class="container">
    {{!--name, image, button--}}
    <div class="row">
    {{#each artists}}
        <div class="card border-0 mb-3" style="width: 18rem;">
            {{#if this.images}}
                <img src="{{images.0.url}}" class="card-img-top" alt="pic of {{name}}">
            {{/if}}
            <div class="card-body bg-secondary text-light d-flex flex-column align-items-center justify-content-end">
                <h5 class="card-title">{{name}}</h5>
                <a href="/albums/{{id}}" class="btn btn-danger p-1 w-auto">View albums</a>
            </div>
        </div>
    {{/each}}
    </div>
</div>