<div class="full-page d-flex justify-content-center align-items-center">

    <form class="p-5 text-center form-with-background" action="/artist-search" method="GET">
    <div class="mb-3">
        <input class="form-control border border-dark" size="70" type="text" name="artistName" id="artistName" required>
    </div>
    <div class="d-inline-block">
        <button class="form-control btn btn-danger rounded-0" type="submit">Search for an artist</button>
    </div>
    </form>

</div>