<table class="p-0 m-0" style="width: 98vw;">
    <tr class="bg-dark text-light">
        <th class="fs-3"><a class="link-warning text-decoration-none" href="/">Home</a></th>
        <th class="fs-2" colspan="2">Album - {{tracksAndAlbum.albumName}}</th>
    </tr>
    <tr class="fs-2 bg-secondary text-light">
        <th class="w-50">Title</th>
        <th>Preview</th>
        <th>Listen</th>
    </tr>
    {{#each tracksAndAlbum.tracks}}
    <tr>
        <td class="w-50 fw-bold">{{name}}</td>
        <td><audio src="{{preview_url}}" controls></audio></td>
        <td><a class="link-success" target="_blank" href={{external_urls.spotify}}>Open in Spotify</a></td>
    </tr>
    {{/each}}
</table>